<section id="sec_cta" class="section sec_cta">
  <span class="bg_cta"></span>
  <a href="#">
    <h3 class="title">エントリー受付中</h3>
    <div class="view_btn_arrow"></div>
    <p>オンライン説明会開催決定！</p>
  </a>
</section>