<footer>
  <div class="footer_menu">
    <a href="./index.html" class="footer_logo"><img src="./assets/logo.svg" alt="WEB STAFFING"></a>
    <ul>
      <li><a class="menu_item" href="./index.html#sec_value">コンセプト</a></li>
      <li><a class="menu_item" href="./index.html#sec_career">キャリアパス</a></li>
      <li><a class="menu_item" href="./index.html#sec_style">ココが違う！</a></li>
      <li><a class="menu_item" href="./index.html#sec_news">News</a></li>
    </ul>
  </div>

  <div class="copyright">
    <small>©WEB STAFFING. All Rights Reserved.</small>
  </div>
</footer>