<header class="header_wrapper">
  <div class="header">
    <h1>
      <a href="./index.html" class="menu_item"><img src="./assets/logo.svg" alt="WEB STAFFING"></a>
    </h1>

    <nav class="menu">
      <!-- Desktop view navigation menu -->
      <ul>
      <li><a class="menu_item" href="./index.html#sec_value">コンセプト</a></li>
      <li><a class="menu_item" href="./index.html#sec_career">キャリアパス</a></li>
      <li><a class="menu_item" href="./index.html#sec_style">ココが違う！</a></li>
      <li><a class="menu_item" href="./index.html#sec_news">News</a></li>
      </ul>
      <div class="download_btn">
        <a href="./assets/doc.pdf" download="./assets/doc.pdf" target="_blank" rel="noopener noreferrer"><span>資料ダウンロード</span><img src="./assets/download.svg" alt="Doc Download"></a>
      </div>
    </nav>

    <!-- Hamburger menu -->
    <div class="menu_toggle_btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Mobile view navigation menu -->
  <div class="menu_mobile">
    <ul>
      <li><a class="menu_item" href="./index.html#sec_value">コンセプト</a></li>
      <li><a class="menu_item" href="./index.html#sec_career">キャリアパス</a></li>
      <li><a class="menu_item" href="./index.html#sec_style">ココが違う！</a></li>
      <li><a class="menu_item" href="./index.html#sec_news">News</a></li>
      <li><a href="./assets/doc.pdf" class="download_btn" download="./assets/doc.pdf" target="_blank" rel="noopener noreferrer" >資料ダウンロード</a></li>
    </ul>
  </div>
</header>