$text_color: #333;

$primary_color: #1b1d22;
$primary_color_2: #5e6e7d;

$bg_color: #E6EDF4;
$bg_color_gradient: linear-gradient(45deg, #0187d9, #01b8d9);

$secondary_color: #0187d9;
$secondary_color_2: #d9e7ed;
$secondary_color_3: #9ad9ff;