<% const title = 'WEBSTAFFING 採用サイト'; %>
<% include ./templates/_head %>

<body>
<% include ./templates/_menu %>

  <main>
    <section>
      <h2>404 Page Not Found</h2>
    </section>

  </main>

  <% include ./templates/_footer %>
</body>
</html>