@import 'base/reset';
@import 'base/base';
@import 'base/variable';
@import 'layout/header';
@import 'layout/footer';
@import 'component/button';
@import 'component/cta';

.sec_top {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../assets/member_top.jpg) center /cover no-repeat;
    filter: brightness(0.6);
  }
}

.section_inner {
  text-align: center;
  color: #fff;
  margin: 20px;
}